.slideshow {
   position: relative;
}
.brahnyudesc {
   position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   background: rgba(29, 106, 154, 0.72);
   color: #fff;
   visibility: hidden;
   opacity: 0;
   transition: opacity .2s, visibility .2s;
}
.slideshow:hover .brahnyudesc {
   visibility: visible;
   opacity: 1;
}