

.title {
   background-color: red;
   height: 95px;
   width: 1319px;
   position: relative;
   margin-top: -200px;
   margin-left: -8px;
   overflow: hidden;
   position: fixed;
   z-index: 9;
}
.border {
   background-color: red;
   height: 80px;
   width:700px;
   margin: auto;
   margin-top: 5px;
   margin-left: 10px;
   border-radius: 25px;
   border: 2px solid black;
   position: relative;
}
.text {
   margin-left: 21px;
   margin-top: 10px;
   font-size: 50px;
   overflow: hidden;
   position: absolute;
   font-family: fantasy;
   text-shadow: 2px 1px 3px yellow;
}
.shack {
   float: left;
   margin-left: 623px;
   margin-top: 5px;
   width: 70px;
   height: 70px;
}
.logo {
   float: left;
   width:250px;
   margin-top: -55px;
   margin-left: 223px;
}
.join:hover {
  transform: scale(1.05);
  font-size: 22px;
}
.join {
   padding: 20px;
   border-bottom: 4px solid black;
   position:absolute;
   left: 780px;
   top: -10px;
   z-index: 1;
   font-weight: bold;
   font-size: 22px;
   background: url("/genshin\ images/buttonmc.png");
   background-size: cover;
   font-family:'Segoe UI';
   transition: all 0.3s ease-in-out;
   color: black;
   position: fixed;
   z-index: 9;
}
.home {
   margin-left: 1000px;
   float: right;
   position: absolute;
   left: -200px;
   top: 0px;
   z-index: 0;
}
.vline {
   border-left: 2px solid black;
   height: 500px;
   float:right;
   margin-right: 570px;
   position: relative;
}
.vline2 {
   border-left: 2px solid black;
   height: 500px;
   float:right;
   margin-right: -400px;
   position: relative;
}
.about {
   background-color: maroon;
   width: 1319px;
   height: 50px;
   margin-left: -8px;
   margin-top: -108px;
   position: relative;
   border: 2px solid black;
   color: white;
   position: fixed;
   z-index: 9;
}
.login {
   margin-left: 1191px;
   margin-top: 0px;
   text-decoration: none;
   float: left;
   position: absolute;
   font-family: Helvetica;
   font-size: 25px;
   color: azure;
   font-weight: bold;
}
.login:hover {
   color: yellow;
}
.redeem {
   position: absolute;
   float: left;
   margin-left: 1177px;
   text-decoration: none;
   margin-top: 47px;
   font-family: Helvetica;
   font-size: 16px;
   width: 100px;
   height: 40px;;
   font-size: 25px;
   color: azure;
   font-weight: bold;
}
.redeem:hover {
   color: yellow;
}
.logregline {
   position: absolute;
   float: left;
   border: 1px solid black;
   width: 170px;
   margin-top: 37px;
   margin-left: 1135px;
   font-weight: bold;
}
.about2 {
   margin-left: 70px;
   margin-top: 10px;
   position: absolute;
   text-align: center;
   font-family: Tahoma;
   font-size: 22px;
   text-decoration: none;
   color: azure;
   font-weight: bold;
   transition: all 0.3s ease-in-out;
   }
   .about2:hover {
       transform: scale(1.3);
   }
   .community {
   margin-left: 300px;
   margin-top: 10px;
   position: absolute;
   text-align: center;
   font-family: Tahoma;
   font-size: 22px;
   text-decoration: none;
   color: azure;
   font-weight: bold;
   transition: all 0.3s ease-in-out;
   }
   .community:hover {
       transform: scale(1.3);
   }
   .shop {
   margin-left: 600px;
   margin-top: 10px;
   position: absolute;
   text-align: center;
   font-family: Tahoma;
   font-size: 22px;
   text-decoration: none;
   color: azure;
   font-weight: bold;
   transition: all 0.3s ease-in-out;
   }
   .shop:hover {
       transform: scale(1.3);
   }
   .premcontent {
   margin-left: 800px;
   margin-top: 10px;
   position: absolute;
   text-align: center;
   font-family: Tahoma;
   font-size: 22px;
   text-decoration: none;
   color: azure;
   font-weight: bold;
   transition: all 0.3s ease-in-out;
   }
   .premcontent:hover {
       transform: scale(1.3);
   }
   .socials {
   margin-left: 1160px;
   margin-top: 11px;
   position: absolute;
   text-align: center;
   font-family: Tahoma;
   font-size: 22px;
   text-decoration: none;
   color: azure;
   font-weight: bold;
   transition: all 0.3s ease-in-out;
   }
   .socials:hover {
       transform: scale(1.3);
   }